#list {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#list td, #list th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

#list tr:nth-child(even) {
	background-color: #f2f2f2;
}

#list tr:hover {
	background-color: #ddd;
}

#list th, #definition   {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #006bb3;
	color: white;
}

#editButton {
	width: 80px;
	margin: auto;
	border: 1px  #81BEF7;
	background: #81BEF7;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}
#deleteButton {
	width: 80px;
	margin: auto;
	border: 1px  #E2A9F3;
	background: #E2A9F3;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}
#addButton {
	width: 100px;
	margin: auto;
	border: 1px  #04B45F;
	background: #04B45F;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}
#cancelButton {
	width: 100px;
	margin: auto;
	border: 1px  #e6d3e5;
	background: #e6d3e5;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}
#editOkButton {
	width: 100px;
	margin: auto;
	border: 1px  #74a7f7;
	background: #74a7f7;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}
#registerButton {
	width: 100px;
	margin: auto;
	border: 1px  #f2e5bd;
	background: #f2e5bd;
	padding : 5px 5px;
	text-align: center;
	font-weight: bold;
}

#fontcolor {
	color : white;
}